<div class="row well text-center">
<h1 id="greeting">Welcome to the Task Manager</h1>
</div>

<div class="text-center padded centered">
<a href="/tasks" class="btn-info btn-lg" >Task Index</a>
<a href="/tasks/new" class="btn-success btn-lg">New Task</a>
</ul>
</div>
