<div class="container">
  <form action="/tasks/<%= @task.id %>" method="post" id="new-task-form">
    <input type="hidden" name="_method" value="PUT" />
    <p>Edit</p>
    <input type='text' name='task[title]' class="form-component" value="<%= @task.title %>"/><br />
    <textarea class='form-component' name='task[description]'><%= @task.description %></textarea><br/>
    <input type='submit' value="Submit" class="btn btn-default form-component"/>
  </form>
</div>
