<form action="/tasks" method="post">
  <div class="form-group">
  <p>Enter a new task:</p>
  title<br />
  <input type='text' name='task[title]'/><br/>
  image<br />
  <input type='text' name='task[picture]'/><br/>
  description<br />
  <textarea name='task[description]'></textarea><br/>
  <input type='submit' value="Submit" class="btn btn-default"/>


</form>
